/* CSS Resets */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}


body {    
    color: white;
    background-color: rgb(14, 14, 14);
    height: 100vh;
}

.body-wrapper-1 {
    height: 100%;        
    background-image: url(/img/gypsophila-gray-background-with-copy-space-center.jpg);    
    background-size:contain;    
    padding: 3vh 5vh;
    margin: auto;
    aspect-ratio: .71 / 1;    
}

.body-wrapper-2 {        
    height: 100%;         
    background-size: cover;    
    background-repeat: no-repeat;
    border: .6vh solid #d7ab58;
    border-radius: 9vh;        
    margin: auto;   
    overflow: hidden;    
}


header {
    height: 100%;
}

.hero {    
    text-align: center;
    height: 100%;    
}

.hero_img {    
    
}

.hero_title {
    font-size: 5vh;    
}

.hero_text {

}
