* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}
body {
    background-image: url(/img/cool-background.png);
    background-repeat: no-repeat repeat;
    background-size: contain;    
}

header {    
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
    padding: 3vw;
    /* height: 100vh; */
    width: 100vw;
    transition: height 0.5s ease-in-out;
}

.header_logo{    
    margin: 0 auto;
    padding: 1.5vw;
    display: block;
    width: 20vw;
}

.header_text {
    width: fit-content;
    font-family: "Cookie", serif;
    text-align: center;
    /* text-decoration: overline underline; */
    border-top: .5vw double rgb(0, 0, 0);
    border-bottom: .1vw solid rgb(0, 0, 0);
    margin: 0 auto;
    padding: 1vw;
    font-size: 5vw;
    margin-top: .5em;
    transform: scale(1.5, 1.5);    
}

.hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    font-size: 5vw;
    font-family: "Cookie", serif;
    padding: 2vw 10vw;
}

.hero_img {
    grid-column: 1 / 2;
    grid-row: 1 / 4;        
    border-radius: 10vw 0;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px, rgba(0, 0, 0, 0.3) 10px 10px, rgba(0, 0, 0, 0.2) 15px 15px, rgba(0, 0, 0, 0.1) 20px 20px, rgba(0, 0, 0, 0.05) 25px 25px;
}

.hero_text {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    color: white;
    /* text-shadow: -3px 4px 0px rgba(0,0,0,0.5); */
    text-shadow: -0.3vw -0.1vw 0vw   rgba(0,0,0,0.5);
}

.hero_btn {
    color: white;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding: 0 1vw;
    margin: 1vh 0;
    font-size: 3vw;
    font-family: inherit;
    border-top-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    /* background: rgb(248,213,61); */
    border-color: white;
    background: linear-gradient(90deg, rgba(248,213,61,1) 0%, rgba(195,137,1,1) 50%, rgba(255,236,108,1) 100%);
    text-shadow: -0.3vw -0.1vw 0vw   rgba(0,0,0,0.5);
    transition: transform 500ms;
    /* transition: background-color 1s; */
}

.hero_btn:hover {
    /* background: rgb(248,213,61); */
    transform: scale(1.1, 1.1);
}